body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-container {
    max-width: 600px;
    margin: auto;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.row input {
    flex: 1;
    margin-right: 5px;
    padding: 5px;
}

.row button {
    padding: 5px;
}


.resultCard {
    display: block;
    width: 100%;
}

.card {
    margin: 20px;
    /* background-color: magenta; */
    padding: 5px;
    border-radius: 5px;
    border: 4px solid gray;
}

.result {
    display: flex;
    justify-content: space-around;
    margin: 40px 20px;
}

.goResult,
.phpResult,
.requestParams,
.difference {
    padding: 10px;
    width: 45%;
    border-radius: 10px;
    /* box-shadow: 0 0 10px 7px grey; */
}

h3 {
    text-align: center;
}


.key {
    color: #e06c75;
    font-weight: 600;
}

.string {
    color: #d0a144;
}

.number {
    color: #2941da;
}

.boolean {
    color: #56b6c2;
}

.null {
    color: #c678dd;
}

pre {
    background-color: #a4d3d280;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #8080809c;
    backdrop-filter: blur(6px);
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 15px;
}